{% extends 'base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}



<div class="row m-5 border rounded">

  <h1 class="m-5">This is Dashboard Page</h1>
  {% if messages %} {% for message in messages %}
  <small {% if message.tags %} class="{{message.tags}}" {% endif %}>
    {{message}}
  </small> <br>{% endfor%}
  {%endif%}


  <div class="col-6 border rounded p-4 m-4 ">

    <h2>Welcome {{name}}</h2>
    {% if perms.home.add_blog %}
    <input class="btn btn-info" href="/home/" type="button" value="Add">
    {% else %}
    <h3>No add permision</h3>
    {% endif%}

    {% if perms.home.change_blog %}
    <input class="btn btn-warning" class="btn btn " type="button" value="Edit">
    {% else %}
    <h3>No edit permision</h3>
    {% endif%}


    {% if perms.home.delete_blog %}
    <input class="btn  btn-danger " type="button" value="Delete">
    {% else %}
    <h3>No delete permision</h3>
    {% endif%}

    {% if perms.home.view_blog %}
    <input class="btn btn-success" type="button" value="View">
    {% else %}
    <h3>No view permision</h3>
    {% endif%}


  {% endblock content %}